*
{
	text-align: center;
	margin-top: 0.5rem;
}
h2
{
	margin-top: 2rem;
}
.container
{
	margin-bottom: 2rem;
	text-align: center;
}
label
{
	padding-top: 10px;
}
.sel label
{
	text-align: right;
}
#creater
{
	position: fixed;
	right: 20px;
	bottom: 10px;
	margin-right: 1rem;
}
